#form {
  form {
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    label {
      font-size: 3rem;
      font-family: $font;
      color: $blue;
    }
    input {
      width: 50%;
      padding: 20px;
      border: none;
      font-family: $font;
      background-color: $lightblue;
      color: $white;

      &::placeholder {
        color: $white;
        font-family: $font;
      }
    }
    .btn-type-1 {
      @extend %button-one;
    }
  }
}
